.wrap {
    border-bottom: 1px solid var(--border-color);
    padding: 12px 0;
    display: flex;
}
.game {
    flex-grow: 1;
    padding: 3px 0 0 0;
}

.input {
    -moz-appearance: textfield;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    font-size: 18px;
}

.input:focus {
    outline: none;
    border-color: var(--persian-green);
    background-color: transparent;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.team {
    font-size: 14px;
}

.meta {
    font-size: 10px;
    margin: 3px 0 0 0;
    color: #737373;
}

.done .input {
    border-color: transparent;
    color: green;
}
