.wrap {
    display: flex;
    list-style: none;
    padding: 0;
}

.wrap li {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
}

.wrap li span {
    opacity: .3;
    display: inline-block;
    line-height: 36px;
    padding: 0 18px;
    border-radius: 4px;
}

.wrap li.active span {
    opacity: 1;
    background-color: rgb(33, 149, 165);
    color: white;
}