.flag {
    font-size: 10px;
    color: #ccc;
}

.cities {
    font-size: 14px;
    color: #888;
}

.cities span ~ span:before {
    content: ", ";
}

.host {
    color: #80CBC4;
    font-size: 13px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.item a {
    color: black
}
