.flag {
    font-size: 10px;
    color: #ccc;
}

.cities {
    font-size: 14px;
    color: #888;
}

.cities span ~ span:before {
    content: ", ";
}

.host {
    font-size: 12px;
    color: green;
    display: inline-block;
    margin-left: 5px;
}
