.wrap {
    display: inline-block;
    margin-right: 5px;
}

.flag {
    height: auto;
    margin-right: 4px;
}

.small {
    position: relative;
    top: -1px;
    width: 18px;
}

.medium {
    width: 42px;
}

.large {
    width: 72px;
}
