.wrap {
    display: inline-block;
    margin-right: 5px;
}

.flag {
    height: auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.small {
    position: relative;
    top: -1px;
    width: 18px;
}

.medium {
    width: 42px;
}

.large {
    width: 72px;
}
