.row {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.stats {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.stats dt {
    float: left;
    width: 25%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0 0 8px 0;
    text-align: right;
    margin-right: 8px;
}
.stats dd {
    float: left;
    width: calc(75% - 8px);
    /* adjust the width; make sure the total of both is 100% */
    padding: 0 0 8px 0;
    margin: 0;
}

.img {
    background: linear-gradient(#c8e6c9, #ffffff);
    position: relative;
    margin-bottom: 16px;
}

.img img {
    display: block;
    margin: 0 auto;
}

.img span {
    position: absolute;
    top: 12px;
    left: 0;
    display: block;
    padding: 6px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgba(40, 44, 52, 0.85);
    color: #fff;
}

.img span ~ span {
    bottom: 8px;
    top: unset;
    left: unset;
    background-color: transparent;
    right: 8px;
}
