.wrap {
    color: red;
    font-size: 10px;
    opacity: .6;
    display: inline-block;
    margin-right: 5px;
}

.flag {

    height: auto;
    margin-right: 4px;
}

.small {
    position: relative;
    top: -3px;
    width: 18px;
}

.large {
    width: 42px;
}
